@page
@using Wohnungsportal.Models
@using Microsoft.CodeAnalysis
@model IndexModel
@{
    ViewData["Title"] = "Elephant";
}

<div class="text-center">
	<h1 class="display-4">Elephant</h1>
	<p>Learn about <a href="https://smile.amazon.de/dp/B002MWSY2A/ref=cm_sw_r_tw_dp_x_rcjDFb6T5R21A">Lalilu</a>.</p>
</div>

<div>
	<button class="mb-3" type="submit">Search</button>
</div>
<div class="card-columns">
	@if (Model.Apartments != null) { @foreach (Apartment apartment in Model.Apartments) {
	<div class="card mb-3">
		<a class="card-link" href="@(apartment.PictureName)">
			<img class="card-img-top" src="@(apartment.PictureName)" alt="image" />
		</a>
		<div class="card-body">
			<ul style="list-style-type: none; margin-left: -39px">
				<li><b>@Html.DisplayNameFor(model => model.Apartments[0].Location):</b> @(apartment.Location)</li>
				<li><b>@Html.DisplayNameFor(model => model.Apartments[0].NRooms):</b> @(apartment.NRooms)</li>
				<li><b>@Html.DisplayNameFor(model => model.Apartments[0].Price):</b> CHF&nbsp;@(apartment.Price).-</li>
				<li>
					@if (apartment.Kitchen && apartment.Wlan) {
					<span><b>Ausstattung:</b> Küche, WLAN</span>
					} else if (apartment.Kitchen) {
					<span><b>Ausstattung:</b> Küche</span>
					} else if (apartment.Wlan) {
					<span><b>Ausstattung:</b> WLAN</span>
					}
				</li>
			</ul>
			<a class="card-link btn btn-primary" href="/Details?id=@(apartment.Id)">Details</a>
		</div>
	</div>
	} }
</div>

<script>
	function showDetails(id) {
	    window.location = `/Details?id=${id}`;
	}
</script>