@page
@using Wohnungsportal.Models
@model IndexModel
@{
    ViewData["Title"] = "Elephant";
}

<div class="text-center">
	<h1 class="display-4">Elephant</h1>
	<p>Learn about <a href="https://smile.amazon.de/dp/B002MWSY2A/ref=cm_sw_r_tw_dp_x_rcjDFb6T5R21A">Lalilu</a>.</p>
</div>

<div>
	<button class="mb-3" type="submit">Search</button>
</div>
<div class="card-columns">
	@if (Model.Apartments != null) { @foreach (Apartment apartment in Model.Apartments) {
	<div class="card mb-3" onclick="showDetails(@(apartment.Id))">
		<img class="card-img-top" src="@(apartment.PictureName)" alt="image" />
        <div class="card-body">
            <p class="¨card-text"><strong>Standort:</strong> @(apartment.Location)</p>
            <p class="¨card-text"><strong>Preis pro Nacht:</strong> CHF @(apartment.Price).-</p>
            <p class="¨card-text"><strong>Anzahl Zimmer:</strong> @(apartment.NRooms)</p>
            @if (apartment.Kitchen || apartment.Wlan)
            {
                <p class="card-text">
                    <strong>Ausstattung:</strong>
                    @if (apartment.Kitchen && apartment.Wlan)
                    {
                        <span>Küche, WLAN</span>
                    }
                    else
                    {
                        @if (apartment.Kitchen)
                        {
                            <span>Küche</span>
                        }
                        @if (apartment.Wlan)
                        {
                            <span>WLAN</span>
                        }
                    }
                </p>
                
            }
        </div>
	</div>
	} }
</div>